<h1>User List</h1>
<ul>
  {{#each users}}
    <li style="display: flex; align-items: center">
      <div style="margin: 10px;">
      <span>id:{{id}}</span>
      <br>
      <span>Name: {{name}}</span>
      <br>
      <span>Email: {{email}}</span>
      <br>
      <span>Designation: {{designation}}</span>
      <br>
      <a href="/{{id}}">View</a>
      <br>
        <a href="/edit/{{id}}">Edit</a>
      <br>
        <form method="POST" action="/delete/{{id}}">
      <button type="submit">Delete</button>
      </form>
      </div>
      <img src="/uploads/{{photo}}" alt="" width="150" height="150">
    </li>
  {{/each}}
</ul>
    <h2>
      <a href="/create">Create</a>
    </h2>
